body {
  font-family: 'Playfair Display', serif;
  margin: 0;
}

.navbar {
  align-items: center;
  display: flex;
  justify-content: space-between;
  height: 30px;
}

.svg {
  height: 23px;
  width: 184px;
}

.svg, .list {
}

.main-article {
  font-size: 1.1875rem;
  line-height: 1.8125rem;
  margin: 0 auto;
  width: 600px;
}

.list {
  list-style-type: none;
}

.list-item {
  display: inline-block;
}
